@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');

* {
  background-color: #A4BFEF;
  font-family: 'Heebo', sans-serif;
}

button {
  border-radius: 10px;
}

input {
  border-radius: 5px;
  border-color: lightgrey;
}

select {
  border-radius: 5px;
}

input:focus { 
  outline: none; 
}

button:hover {
  cursor: pointer;
}

input:hover {
  cursor: pointer;
}